include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include hls_converter *.py
recursive-exclude tests *
recursive-exclude docs *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store